@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

.outer {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid green;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	top: 50%;
	left: 50%;
	margin-left: -175px;
	margin-top: -64px;
	width: 400px;
	position: fixed;
}

.middle-name {
}

.my-name {
	font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
	font-size: 2.5em;
	line-height: 1px;
	border: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #d5bb4d;
	text-shadow: 0px 0px 5px #265baa;
	transition: .5s ease-in-out;
}

.fab, .fas {
	padding: 15px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	color: #fff;
	transition: .5s ease-in-out;
	background: #265baa;
	margin: 6px;
}

.fab:before, .fas:before {
	transition: .5s ease-in-out;
	transform: scale(0);
	z-index: -1;
	top: 0;
	left: 0;
}
.fab:hover:before, .fas:hover:before {
	transition: .5s ease-in-out;
	transform: scale(.9);
}

.fab:hover, .fas:hover {
	background: #fff;
	color: #000;
}
